$white: #ffffff;
$black: #333333;
$blue: #366cf7;
$grey: #f0f0f0;
$light-grey: #777777;
$dark-grey: #dcdcdc;
$more-grey: #999999;


$mobile: 'screen and (max-width: 480px)';
$phone: 'screen and (max-width: 767px)';
$tablet: 'screen and (max-width: 991px)';
$desktop: 'screen and (max-width: 1199px)';
$large: 'screen and (max-width: 1599px)';
$fullHD: 'screen and (max-width: 1920px)';
