---

photos: [{
  photo: "img/pic1.png",
  name: "Кристиночка",
  age: 28,
  city: "Санкт-Петербург",
  country: "Россия",
  sex: "female",
  pics: 12,
  type: "ТОП",
  online: false
}, {
  photo: "img/pic2.png",
  name: "Диана",
  age: 20,
  city: "Самара",
  country: "Россия",
  sex: "female",
  pics: 3,
  type: "ТОП",
  online: true
}, {
  photo: "img/pic3.png",
  name: "Аня",
  age: 18,
  city: "Ростов-на-Дону",
  country: "Россия",
  sex: "female",
  pics: 145,
  type: "ТОП",
  online: true
}, {
  photo: "img/pic4.png",
  name: "Анжелика",
  age: 27,
  city: "Чебоксары",
  country: "Россия",
  sex: "female",
  pics: 17,
  type: "ТОП",
  online: true
}, {
  photo: "img/pic5.png",
  name: "Лариса",
  age: 32,
  city: "Москва",
  country: "Россия",
  sex: "female",
  pics: 12,
  type: "ТОП",
  online: true
}, {
  photo: "img/pic6.png",
  name: "Настя",
  age: 221,
  city: "Зеленоград",
  country: "Россия",
  sex: "female",
  pics: 3,
  type: "ТОП",
  online: true
}, {
  photo: "img/pic7.png",
  name: "Евгения",
  age: 30,
  city: "Ростов-на-Дону",
  country: "Россия",
  sex: "female",
  pics: 4,
  type: "ТОП",
  online: true
}, {
  photo: "img/pic8.png",
  name: "Ольга",
  age: 23,
  city: "Санкт-Петербург",
  country: "Россия",
  sex: "female",
  pics: 12,
  type: "ТОП",
  online: true
}, {
  photo: "img/pic1.png",
  name: "Кристиночка",
  age: 32,
  city: "Санкт-Петербург",
  country: "Россия",
  sex: "female",
  pics: 12,
  type: "ТОП",
  online: true
}, {
  photo: "img/pic2.png",
  name: "Кристиночка",
  age: 28,
  city: "Санкт-Петербург",
  country: "Россия",
  sex: "female",
  pics: 12,
  type: "ТОП",
  online: true
}, {
  photo: "img/pic3.png",
  name: "Кристиночка",
  age: 28,
  city: "Санкт-Петербург",
  country: "Россия",
  sex: "female",
  pics: 12,
  type: "ТОП",
  online: true
}, {
  photo: "img/pic4.png",
  name: "Кристиночка",
  age: 28,
  city: "Санкт-Петербург",
  country: "Россия",
  sex: "female",
  pics: 12,
  type: "ТОП",
  online: true
}, {
  photo: "img/pic5.png",
  name: "Кристиночка",
  age: 28,
  city: "Санкт-Петербург",
  country: "Россия",
  sex: "female",
  pics: 12,
  type: "ТОП",
  online: true
}]

---

{% extends "layouts/_layout.html" %}

{% block content %}


	{# partial example #}
	{% include "partials/_header.html" %}
	{% include "partials/_images.html" %}
	{% include "partials/_search.html" %}
	{% include "partials/_photos.html" %}
	{% include "partials/_footer.html" %}




{% endblock %}
