<footer>
  <div class="container">
    <div class="footer-content">
      <div class="footer-content__links links">
        <ul class="links__list">
          <li class="links__item"><a href="#">Правила</a></li>
          <li class="links__item"><a href="#">Пользовательское соглашение</a></li>
          <li class="links__item"><a href="#">О проекте</a></li>
          <li class="links__item"><a href="#">Обратная связь</a></li>
        </ul>
      </div>
      <div class="footer-content__rights">
        ©«KIKI». Лучший on-line сервис по поиску спонсоров и содержанок, 2015-2017 <br>
        Администрация не несёт ответственности за размещённые анкеты. Вся информация на сайте предоставлена посетителями.
      </div>
    </div>
  </div>
</footer>
