<section class="search">
  <div class="container">
    <div class="search-content">
      <h2 class="search-content__title">Я ищу</h2>
      <form action="" class="form">
        <div class="form__item">
          <div class="dropdown">
            <div class="select">
              <span>Девушку</span>
              <img src="img/arrow-down.png" alt="">
            </div>
            <input type="hidden" name="spec">
            <ul class="dropdown-menu">
              <li id="spec1">Девушку</li>
              <li id="spec2">Парня</li>
            </ul>
          </div>
        </div>
        <div class="form__item">
          <input type="search" class="form__search" placeholder="Санкт-Петербург">
        </div>
        <div class="form__item">
          <div class="form__range range">
            <span class="range__title">Возраст</span>
            <div class="range__slider">
              <span class="line"></span>
            </div>
          </div>
        </div>
        <div class="form__item">
          <button class="form__btn">НАЙТИ</button>
        </div>
      </form>
    </div>
  </div>
  <div class="more-search">
    <button>Расширенный поиск</button>
  </div>
</section>
